<!--
File: 404.html.erb
Purpouse: Page that display 404 error, relative to not found url.
License: GPL v3
Pesquini Group 6.
FGA - UnB Faculdade de Engenharias do Gama - University of Brasilia.
-->

<div class = "container">
<div class="jumbotron">
  <h1>404</h1>
  <p>URL not found by server.</p>
</div>
</div>