<!--
File: index.html.erb
Purpouse: Page for show parser informations
License: GPL v3
Pesquini Group 6.
FGA - UnB Faculdade de Engenharias do Gama - University of Brasilia.
-->

<h2><%= t('Olá, para executar o parser de empresas inidoneas acesse localhost:3000/parser/cei')%></h2>
<h2><%= t('Olá, para executar o parser de pagamentos do governo acesse localhost:3000/parser/pagamentos')%></h2>