<div class="container">

  <%= render 'back_button' %>

  <div id="titulo_ranking"><h2>Ranking of enterprises with more sanctions</h2>
  <hr>
  </div>
  <% @enterprise_group.each_with_index do |enterprise, index| %>
    <% quantity = @enterprise_group_count[index]%>
    <h3><%= index +1 %> )   <%= link_to "Group of enterprises with #{enterprise} sanctions - (#{quantity})", controller: 'statistics', action: 'enterprise_group_ranking', sanctions_count: e %><br></h3>
  <% end %>
</div>